.formContainer {
  height: 100%;
  background-color: white !important;

  .headingAndLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 27rem;
    margin-top: 30vh;
  }

  .logo {
    width: 13rem;
    height: 3.5rem;
    margin-right: 1rem; /* Add margin for spacing between logo and heading */
  }
  .greetings {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chatcontainer {
    margin-top: 3rem;
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .answerContainer {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 30rem;
      color: black;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
    }

    .answerAndCursor {
      display: flex;
      flex-direction: row;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .blinkingCursor {
      animation: blink 1s infinite;
    }
  }

  .bottomDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    input {
      margin-bottom: 2rem !important;
      margin-right: 0.5rem !important;
      height: 2rem !important;
      border-radius: 8px;
      border-color: black;
      width: 25rem;
    }

    .SubmitPDFButton {
      height: 2rem !important;
      width: 5rem;
      display: flex;
      justify-content: space-evenly;
      align-content: center;
      flex-wrap: wrap;
    }
  }
}
